doctype html
html
  head
    title Proxy App
  body
    center
      img(src="http://static.offline/doug.jpg")
      br
      h2 Control Panal
      hr
      h3 General
      div Proxy server running on #{config.URL}:#{config.PORT}
      div
        span Mode: &nbsp;
          if config.options.apponline=="true"
            b
              span  Online
          else 
            a(href='http://control-panel.offline/switches/apponline/true')
              span Online
          | &nbsp;
          if config.options.apponline=="false"
            b
              span  Offline
          else 
            a(href='http://control-panel.offline/switches/apponline/false')
              span Offline
      div
        span Server CWD:
        b= serverPath
      div 
        span Offline file dir:
        b= config.options.offlineFilesDir
      hr
      h3 Virtual Hosts
      ul
      each vhost in vhosts
        li
          <a href='https://#{vhost}'>
            span= vhost
          
