doctype html
html
  head
    title Proxy App
  body
    center
      img(src="http://static.offline/doug.jpg")
      br
      h2 Control Panal
      
      hr
      
      h3 General
      div Proxy server running on #{config.getProxyUrl()}
      div
        span Mode: &nbsp;
          if config.options.apponline=="true"
            b
              span  Online
          else 
            a(href='/switches/apponline/true')
              span Online
          | &nbsp;
          if config.options.apponline=="false"
            b
              span  Offline
          else 
            a(href='/switches/apponline/false')
              span Offline
      div
        span Server CWD:
        b= serverPath
      div 
        span Offline file dir:
        b= config.options.offlineFilesDir
        
      hr
      
      h3 Virtual Hosts
      ul
        each vhost in vhosts
          li
            <a href='http://#{vhost}'>
              span= vhost
            </a>
      hr
      
      h3 Requests
      form(method='get',action='/requests')
        span Host:
        input(name='host')
        input(type='submit',value='Ok')
      hr
      
      h3 Get all available links
      form(method='get',action='/getAllLinks')
        span Host:
        input(name='host')
        input(type='submit',value='Ok')
        
      hr
      h3 Others
      a(href='http://static.offline/ca.pem')
        span Download certificate
      br
      a(href='http://static.offline/foxyproxy.xpi')
        span Download firefox proxy plugin
      
      hr
      h3 Available offline sites
      table
        tr
          th Site
          th Requests
          th All links
        each site in sites
          - var sitename = site.substr(0,site.lastIndexOf('.')).replace('@',':')
          tr
            td
              <a href='http://#{sitename}'>
                =sitename
              </a>
            td
              <a href='/requests?host=#{sitename}'>
                | Requests
              </a>
            td
              <a href='/getAllLinks?host=#{sitename}'>
                | all links
              </a>  
      
